/* CSS Document */

.side-nav p {
	margin-left: 10px;
	margin-top:15px;
	color: #333;
	margin-right: 10px;
}

.side-nav p a {
	color: #47A5EE;	
}
.side-nav p a:hover {
	color: #5EB8FF;	
}

.side-nav input {
	margin-left: 10px;
	margin-top:5px;
}

#forums table {
	color: #333;	
}

#forums table th {
	font-size: 14px;
	font-weight: normal;
	background: #BBBBBB;
	padding: 5px;	
}

#forums table th.category {
	width: 250px;	
}

#forums table td {
	padding: 10px;
	border-bottom: 1px solid #ccc;	
}



#forums table h3 {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	
}

#forums table a {
	color: #4181DF;	
}

#forums table a:hover {
	color: #5399FF;	
}
#forums table td, #forums table td p {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#forums table td.num {
	text-align: center;	
}

#forums table td span.date {
	display: block;
}

label.join {
	color: #333;
	font-size: 12px;
	display: block;	
}