/**************************/
/*   General Inside Layout      */
/**************************/

.inside-content {
	margin-bottom:40px;
}

.input.large {
  padding-left:10px;
}

#join input {
    margin-right:15px;
    margin-bottom:20px;
}

.side-nav {
	padding-bottom: 30px;
	width: 230px;
	float:left;
}

.side-title {
	padding-left:15px;
	font-size:13px;
}

.side-nav ul {
	display: table;
	table-layout:fixed;
	width:230px;
}

.side-nav ul li {
	list-style-type: none; 
	padding: 10px;
	border-bottom: 1px solid #b7b7b7;
}

.side-nav ul li a {
	font-weight: 400;
	color: #585858;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
	font-size:13px;
}

.side-nav ul li.active {
	background:#CBCBCB;
}

.side-about ul li + li:hover a {
	color: #2a61c6;	
}

.side-pdev ul li + li:hover a {
	color: #17a45c;	
}

.side-events ul li + li:hover a {
	color: #20b0e6;	
}

.side-resc ul li + li:hover a {
	color: #83b805;	
}

.side-members ul li + li:hover a {
	color: #dd9311;	
}

.side-contact ul li + li:hover a {
	color: #ac165e;	
}

.inside-content {
	width: 673px;
	float:left;
	padding-left:50px;
}

.inside-content h1 {
	color: #585858;
	font-size:20px;
	width: 100%;
}

.inside-content h2 {
    color: #585858;
    padding-bottom:20px;
    font-size:24px;
}

.inside-content p {
	color: #333;
	font-family:Arial, Helvetica;
	font-size:14px;
	line-height:18px;
}

.inside-content a {
	color: #4095F2;
}


.inside-content a:hover {
	color: #5DA9FC;	
}


.side-nav ul p {
	color: #333;
	margin: 10px;
}

.side-nav ul p a {
	color: #4095F2;	
}

.side-nav ul p a:hover {
	color: #5DA9FC;
}

.cal-filter.members H1 {
	background-color: #dd9311;	
}

.banner {
    padding-bottom: 20px;
}

#mission-pic {
    float:right;
    margin-left:40px;
}