@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/**************************/
/*    HTML Elements & Template Layouts    */
/**************************/

* {
	padding: 0;
	margin: 0;
}

html, body {
	background-color: #d0d0d0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

header {

}

nav {
	z-index: 99;
	position: relative;
}

br {
	line-height: 1em;
}

.wrapper {
	background-color: white;
	width: 1024px; 
	margin: 0 auto;
	background-color: white;
	
}

.container {
	width:960px;
	margin: 0 auto;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}


.clear {
	clear:both;
}
/**************************/
/*   Type      */
/**************************/

p {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.3em;
}

h1 {
	font-size:1.1em;
	border-bottom: 1px solid #b7b7b7;
	width:300px; 
	color:#4e4e4e;
	font-weight: 300;
}

h2 {
	font-size: 1em;
	font-weight: 400;
}

h4 {
	font-size: 1em;
	color: #bdbdbd;
	font-weight: 700;
}

h4 span {
	font-size: 1.4em;
	color: #585858;
	font-weight: 700;
}

h5 {
	font-size:1em;
	color: #bdbdbd;
	font-weight: 400;
	float:left;
	padding-right:6px;
}

#logo {
	height:105px;
	padding-top:5px;
	padding-bottom: 15px;
}

#logo img {
	float:left;
}

input.submit {
	
	border: 1px solid #999;
	background: #A0BBC9;
	color: #333;
	padding: 4px;
}


input.submit:hover {
	background: #CFE5F1;	
}
/**************************/
/*   Nav      */
/**************************/

#main-nav {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#main-nav li {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	border-right:solid 1px white;
	height:42px;
}

#main-nav li:first-child {
	border-left: solid 1px white;
}

#main-nav li a {
	font-size: 0.9em;
    text-align: center;
    margin: 0 5px;
    display: block;
 
}

#main-nav li:hover {
	background-image: url(../img-sprites/menu-hoverbg.png);
	background-position: left top;
	background-repeat: repeat;
}

.nav-home{
	background-color: #701c81;
}
.nav-about{
	background-color: #2a61c6;
}
.nav-events{
	background-color: #20b0e6;
}
.nav-pdev{
	background-color: #17a45c;
}
.nav-resc{
	background-color: #83b805;
}
.nav-members{
	background-color: #dd9311;
}
.nav-contact{
	background-color: #ac165e;
}

#fixed-bar{
	height: 42px;
	width:100%;
	position: absolute;
	top:125px;
	z-index: 1;
}

#active-tri {
	height:25px;
	width:100%;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:25px;
}

#active-tri.purple {
	background: url(../img-sprites/tri-purple.png) no-repeat;
	background-position: 60px 0px;
}

#active-tri.blue {
	background: url(../img-sprites/tri-blue.png) no-repeat;
	background-position: 198px 0px;
}

#active-tri.aqua {
	background: url(../img-sprites/tri-aqua.png) no-repeat;
	background-position: 335px 0px;
}

#active-tri.forest {
	background: url(../img-sprites/tri-forest.png) no-repeat;
	background-position: 471px 0px;
}

#active-tri.lime {
	background: url(../img-sprites/tri-lime.png) no-repeat;
	background-position: 607px 0px;
}

#active-tri.orange {
	background: url(../img-sprites/tri-orange.png) no-repeat;
	background-position: 743px 0px;
}

#active-tri.pink {
	background: url(../img-sprites/tri-pink.png) no-repeat;
	background-position: 879px 0px;
}



/*****************************************/
/* DROPDOWNS */
/* **************************************/

.dropdown {
	display:none;
	width:200px;
	padding:6px;
}


.dropdown ul {
	list-style:none;
}

.dropdown li {
	display: block !important;
	border: none !important;
	height: 24px !important;
	line-height:24px;
}
.dropdown li a {
	text-align:left !important;
	color:#fff;
}



.nav-about:hover .dropdown, .nav-events:hover .dropdown, .nav-pdev:hover .dropdown, .nav-resc:hover .dropdown, .nav-members:hover .dropdown {
	display: block;
	position:absolute;
	top:42px;
	border-top: 1px solid #fff;
}

.dropdown.drop-about {
	background: #2a61c6;
}


.dropdown.drop-events {
	background: #20b0e6;
}

.dropdown.drop-pdev {
	background: #17a45c;
}

.dropdown.drop-resc {
	background: #83b805;
}

.dropdown.drop-members {
	background:#dd9311;
}

/**************************/
/*   Header      */
/**************************/

#title {
	padding-left: 30px;
	padding-top: 24px;
	float: left;
}

#interact{
	float:right;
	position: relative;
	display:block;
}

#top-nav {
    display: table;
    table-layout: fixed;
    float:left;
}

#top-nav li {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	border-left:solid 1px white;
	background-color: #b4b4b4;
}

#top-nav li:hover {
	background: #717171;
}

#top-nav li:hover a {
	color: #C7C7C7;
}

#top-nav li a {
	font-size: 0.8em;
    text-align: center;
    margin: 0 10px;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000;
    font-weight: 300;
}

#search {
	float: right;
	clear:both;
	padding-top:50px;
}

#search input {
	padding-left: 15px
}

.input {
	border: 1px solid #afafaf;
	height:25px;
}

/**************************/
/*   Index      */
/**************************/



#slide-info {
    padding-top: 20px;
    position: absolute;
    width: 190px;
    padding-left:740px;
}


#slide-info h2 {
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom:10px;
	
}

.slide-button {
	padding: 6px;
	margin-top:18px;
	font-size:0.8em;
	font-weight:400;
	float: right;
	color: white;
	background-color: #886190;
	border:1px white solid;
	text-transform:uppercase;
}

.slide-button:hover {
	opacity:0.8;
}

.info-column {
	color: #4e4e4e;
	display:inline-block;
	padding:25px 15px 40px 0;
	width:300px;
}

.info-column h1 {
	margin-bottom:10px;
}

#slide-info p {
	font-size: 0.8em;
	font-family:Arial, Helvetica, sans-serif;
}

/* Upcoming Events */

#upcoming-events article {
 width: 290px;
 clear:both;
 height:80px;
}



#upcoming-events article .date {
	float: left;
	background: url(../img-sprites/calendar.png) top left no-repeat;
	width: 60px;
	height: 60px; 
	text-align: center;
	font-size:13px;

}


#upcoming-events article h1, #upcoming-events article p {
	width: 220px;
	border: none !important;
	float:right;
}

#upcoming-events article h1 {
	margin-bottom: 5px !important;
}

#upcoming-events article h1 a {
	color:#333 !important;
}

#upcoming-events article h1 a:hover {
	color: #9526AB !important;
}

#upcoming-events article p {
	font-family:Arial, Helvetica;
}

#upcoming-events article .date span {
		display: block;
		font-size:20px;
		margin-top:4px;
}

/* Recent Blog Post */

#latest-posts article {
 width: 295px;
 clear: both;
 height:80px;
 
}



#latest-posts article .pic {
	float: left;
	width: 60px;
	height: 80px; 
	text-align: left;
	font-size:13px;
	padding-right:12px;

}


#latest-posts article h1, #latest-posts article p {
	width: 220px;
	border: none !important;
	float: right;
}

#latest-posts article h1 {
		margin-bottom: 5px !important;
}

#latest-posts article h1 a {
	color:#333 !important;
}

#latest-posts article h1 a:hover {
	color: #9526AB !important;
}

#latest-posts article p {
	font-family:Arial, Helvetica;
}

#latest-posts article .date span {
		display: block;
		font-size:20px;
		margin-top:4px;
}

/* Resources For */

#resources-for article {
 width: 295px;
 clear: both;
 height:80px;
 
}



#resources-for article .pic {
	float: left;
	width: 60px;
	height: 80px; 
	text-align: left;
	font-size:13px;
	padding-right:12px;

}


#resources-for article h1, #latest-posts article p {
	width: 220px;
	border: none !important;
	float: right;
}

#resources-for article h1 {
		margin-bottom: 5px !important;
		margin-top:17px;
}

#resources-for article h1 a {
	color:#333 !important;
}

#resources-for article h1 a:hover {
	color: #9526AB !important;
}

#resources-for article p {
	font-family:Arial, Helvetica;
}


/* ---- GLOBAL FOOTER ------------- */

footer {
	margin: 15px 0 30px 0;
	font-family:Arial, Helvetica;
	font-size:14px;
	color: #666;
	clear: both;
	overflow: hidden;
}


footer .copyright {
	float:left;
}

footer .copyright a {
	line-height:28px;
	font-size:12px;
	color: #666;
}

footer .copyright a:hover {
	color: #000;
}

footer .newsletter {
	float: right;
	width: 500px;
}

footer .newsletter input.input {
	padding-left: 5px;
	background: none !important;
	margin-right: 5px;
	color: #777777;	
}

footer .newsletter input.input:focus {
	background: #fff !important;
	color: #333;
}

