@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/**************************/
/*    HTML Elements & Template Layouts    */
/**************************/

* {
	padding: 0;
	margin: 0;
}

html, body {
	background-color: #d0d0d0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

header {

}

nav {
	z-index: 99;
	position: relative;
}

.wrapper {
	background-color: white;
	width: 1024px; 
	margin: 0 auto;
	background-color: white;
	
}

.container {
	width:960px;
	margin: 0 auto;
}

/**************************/
/*   Type      */
/**************************/

h4 {
	font-size: 1em;
	color: #bdbdbd;
	font-weight: 700;
}

h4 span {
	font-size: 1.4em;
	color: #585858;
	font-weight: 700;
}

h5 {
	font-size:1em;
	color: #bdbdbd;
	font-weight: 400;
	float:left;
	padding-right:6px;
}

#logo {
	height:100px;
	padding-top:20px;
}

/**************************/
/*   Nav      */
/**************************/

#main-nav {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#main-nav li {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	border-right:solid 1px white;
}

#main-nav li a {
	font-size: 0.8em;
    text-align: center;
    margin: 0 5px;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}

#home{
	background-color: #701c81;
}
#about{
	background-color: #2a61c6;
}
#events{
	background-color: #20b0e6;
}
#pdev{
	background-color: #17a45c;
}
#resc{
	background-color: #83b805;
}
#members{
	background-color: #dd9311;
}
#contact{
	background-color: #ac165e;
}

#fixed-bar{
	background-color: #701c81;
	height: 40px;
	width:100%;
	position: absolute;
	top:120px;
	z-index: 1;
}

/**************************/
/*   Header      */
/**************************/

img {
	float: left;
}

#title {
	padding-left: 60px;
	padding-top: 24px;
	float: left;
}

#interact{
	float:right;
	position: relative;
	display:block;
}

#top-nav {
    display: table;
    table-layout: fixed;
    float:left;
}

#top-nav li {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	border-left:solid 1px white;
	background-color: #b4b4b4;
}

#top-nav li a {
	font-size: 0.8em;
    text-align: center;
    margin: 0 10px;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #4f4f4f;
    font-weight: 300;
}

#search {
	float: right;
	clear:both;
	padding-top:50px;
}

#search input {
	padding-left: 15px
}

.input {
	border: 1px solid #afafaf;
	height:25px;
}


/**************************/
/*   Index      */
/**************************/




